{% extends 'base.jinja' %}
{% load static %}

{% block title %}Topluluk{% endblock %}

{% block content %}

<div class="bg-white py-6 sm:py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl tracking-tight text-gray-900 sm:text-5xl">
            <span>EnUfak </span>
            <span class="font-bold">Blog</span>
            </h2>
            <p class="mt-2 text-lg text-gray-600">Yaptığımız güncellemeleri ve duyuruları kaçırmamak için takip et.</p>
        </div>
        <div
            class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">

            {% for gonderi in gonderiler %}
            <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                    <time datetime="2020-03-16" class="text-gray-500">{{gonderi.created_at}}</time>
                    <a
                        class="relative z-10 rounded-full bg-gray-100 px-3 py-1.5 font-medium text-gray-700 hover:bg-gray-200">{{gonderi.get_etiket_display}}</a>
                </div>
                <div class="rounded-lg overflow-hidden" style="padding-top: 10px;">
                    <img src="{{ gonderi.kapak_resmi.url }}" alt="Kapak resmi" class="w-full h-auto object-cover">
                </div>
                <div class="group relative grow">
                    <h3 class="mt-3 text-lg font-semibold text-gray-900 group-hover:text-gray-600">
                        <a href="/blog/{{gonderi.slug}}/">
                            <span class="absolute inset-0"></span>
                            {{gonderi.baslik}}
                        </a>
                    </h3>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4 justify-self-end">
                    <img src="{% if gonderi.yazar.avatar %}{{gonderi.yazar.avatar.url}}{% else %}{% static 'images/blank-profile.jpg' %}{% endif %}"
                        alt="" class="size-10 rounded-full bg-gray-100" />
                    <div class="text-sm">
                        <p class="font-semibold text-gray-900">
                            <a>
                                <span class="absolute inset-0"></span>
                                {{gonderi.yazar}}
                            </a>
                        </p>
                        <p class="text-gray-500">
                        EnUfak Ekibi
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}